django
django-crispy-forms
numpy
pandas
torch==1.7.1+cpu torchvision==0.8.2+cpu torchaudio==0.7.2 -f https://download.pytorch.org/whl/torch_stable.html
spacy
tensorflow
keras
sentencepiece
neuralcoref
bert-extractive-summarizer
transformers
rouge-score
matplolib
sklearn
